<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading"> <img
            src="{{ "/assets/logo-ms20.svg" | relative_url }}"
            alt="{{ site.title }}"
            class="footer-logo"></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h3>Contact</h3>
        <ul class="contact-list">
          <a href="{{ site.school_url }}" target="_blank" rel="noopener">{{ site.school | escape }}</a>
          {% if site.email %}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <h3>Navigation</h3>
        <nav>
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
              <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a><br>
            {%- endif -%}
          {%- endfor -%}
      </div>

      <div class="footer-col footer-col-3">
        <h3>Suivez-nous</h3>
        {% include social.html %}
      </div>

      <div class="footer-col">
        <p>© {{ site.time | date: "%Y" }} MS20. Tous droits réservés.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ site.author }}</p>
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
